<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT forside ANY>
<!ATTLIST forside id ID #REQUIRED>

]>
<root id="-1">
  <forside id="1094" key="3dc86901-13d9-45fb-8ed5-abd6ad4003f3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-21T19:56:47" updateDate="2016-05-21T19:56:47" nodeName="Forside" urlName="forside" path="-1,1094" isDoc="" nodeType="1091" creatorName="Mads Munk" writerName="Mads Munk" writerID="0" template="1093" nodeTypeAlias="forside" />
</root>