@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	var id = CurrentPage.Id
	var selection = CurrentPage.Children;
}


<div id="partialDiv">
@CurrentPage.GetGridHtml("BlogGrid")
@Html.ActionLink("CreateComment", "Comment", new {id = id])
<ul>
	@foreach(var item in selection){
		<li>
			@item.Name
		</li>
	}
</ul>	
</div>